<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-8 text-left"> 
      <h1>Добро пожаловать. Снова.</h1>
      <hr>
      <p>Этот сайт - результат моих попыток освоить Golang и какие-то азы веб-разработки</p>
      <p>В основе будет лежать небольшой <a href="https://www.youtube.com/channel/UC2ZML5bXoJrvAlhsqMVUvXg" target="_blank">видеокурс от Sergey Gavruk</a></p>
      <p>Ссылка на git-репозиторий: <a href="https://github.com/xxlaefxx/beegoblog" target="_blank">https://github.com/xxlaefxx/beegoblog</a></p>
      <hr>
      <p><h3>Ближайщие таски:</h3></p>
      <ul>
        <li>Делать нужную вкладку активной (class="active")</li>
        <li><del>Сделать загрузку картинок на сервер для постов</del></li>
        <li>Добавить гуглокапчу</li>
        <li>Верификация мыла</li>
        <li><del>Облегчить контроллеры</del></li>
        <li>Сделать вьюшку для поста</li>
        <li>Сделать постам авторов, <del>изменить гуиды на короткие</del>/li>
        <li>Комментарии! (AJAX)</li>
        <li><del>Затестить Quill</del></li>
      </ul>
    </div>
  </div>
</div>