{{ define "leftside"}}

<div align="left" class="col-sm-2 sidenav">
      <!--<p><a href="#">Link</a></p>-->
      <p><h3>Ближайщие таски:</h3></p>
      <ul>
        <li>Делать нужную вкладку активной (class="active")</li>
        <li><del>Разобраться editor'ами</del></li>
        <li>Сделать загрузку картинок на сервер для постов</li>
        <li><del>Переписать всю логику хранения постов на монгу</del></li>
        <li><del>Сделать сущность юзера</del></li>
        <li><del>Впилить авторизацию</del></li>
        <li><del>Поискать живой фреймворк для http</del></li>
        <li><del>Сделать регистрацию</del></li>
        <li>Добавить гуглокапчу</li>
      </ul>
    </div>

{{ end }}